@use "../../index.scss" as *;

.feature-card {
  width: 20rem;
  padding: 1rem;
  background-image: linear-gradient(
    to left,
    var(--clr-accent2-500),
    var(--clr-accent2-300)
  );
  border-radius: 25% 10%;
  box-shadow: var(--shadow-3);

  @include md-screen {
    width: 18rem;
  }

  @include lg-screen {
    width: 12rem;
    height: 12rem;
  }
}
