@use "../../index.scss" as *;

.food-detail {
  margin-top: 2rem;

  .name {
    background-color: var(--white);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--black);
    font-weight: 700;
    border-radius: var(--radius);
    img {
      width: 5rem;
      height: auto;
    }
  }
  @include lg-screen {
    .nutrition-info {
      padding-block: 2rem;
      display: flex;
      align-items: flex-start;
    }
  }
}
