.exercise-card {
  margin-top: 2rem;
  background-color: var(--clr-accent2-500);
  padding: 2rem;
  border-radius: var(--big-radius);

  width: fit-content;

  h3 {
    margin-bottom: 1rem;
  }

  h3,
  p {
    font-weight: 700;
    color: var(--white);
  }

  span {
    color: var(--clr-primary-500);
  }

  .exercise {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-block: 1rem;
    font-size: 1.5rem;
    &:not(:last-child) {
      border-bottom: 1px solid var(--clr-primary-500);
    }

    svg {
      font-size: 2rem;
    }
  }
}
