.exercise-card {
  margin-top: 2rem;
  background-color: var(--clr-accent2-500);
  padding: 2rem;
  border-radius: var(--big-radius);

  width: fit-content;

  h2 {
    margin-bottom: 1rem;
  }

  h2,
  p {
    font-weight: 700;
    color: var(--white);
  }

  span {
    color: var(--clr-primary-500);
  }

  .exercise {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-block: 1rem;
    font-size: 2rem;

    svg {
      font-size: 2rem;
    }
  }
}
