@use "../../index.scss" as *;

.contact {
  margin-top: 2rem;
  background-image: linear-gradient(
    to right,
    var(--clr-accent2-500),
    var(--clr-accent2-300)
  );
  border-radius: var(--big-radius);
  padding-inline: 1rem;

  h2 {
    color: var(--white);
    font-weight: 700;
  }

  .contact-form {
    margin-top: 1rem;
  }

  .form-input,
  .submit-btn {
    font-size: 1rem;
    padding: 0.5rem;
    border: 2px solid var(--clr-primary-400);
  }

  .form-input {
    border-right: none;
    color: var(--clr-accent-500);
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--white);
      text-transform: capitalize;
    }
  }

  .submit-btn {
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    background-color: var(--clr-accent-500);
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    cursor: pointer;
    transition: var(--transition);
    color: var(--white);

    &:hover {
      color: var(--white);
    }
  }

  @include lg-screen {
    text-align: center;
    p {
      margin-inline: auto;
    }
  }
}
