.nav {
  .container {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-accent2-500);
    img {
      height: 7rem;
      width: 7rem;
    }
  }
}
