@use "../../index.scss" as *;

.nav-buttons {
  display: flex;
  align-items: center;
  .login-btn {
    display: none;
  }
  .menu-btn {
    font-size: 2rem;
  }

  &[data-type="mobile"] {
    .menu-btn {
      display: none;
    }
  }

  @include md-screen {
    .login-btn {
      display: block;
    }
    .menu-btn {
      display: none;
    }
  }
}
